# -*- mode: pip-requirements -*-

# Set flag for CPU wheels
--extra-index-url https://download.pytorch.org/whl/cpu

# Main dependencies
torch
s3fs==2025.9.0
zarr
matplotlib

# DINOv3 dependencies
torchvision
torchmetrics
datasets
termcolor